---
layout: archive
---

**Timeline Earchive** is the semi-official archive for the Timeline Earth and Friends Against Government podcasts, the news and entertainment shows for anarchist, libertarian, and liberty-adjacent peoples, such as Little Amal.

The podcast debuted on March 7, 2018, and was originally titled Friends Against Government, but was rebranded after 183 episodes on December 9, 2020, as Timeline Earth.

Share and support the show, or our Leninist-Marxist comrade will out you to the Feds.

* Join the [Patreon](https://patreon.com/timelineearth) to access exclusive Over The Line episodes
* Subscribe on [Spotify](https://open.spotify.com/show/2TqT6kcwVFRSAQP8BUlH58?si=288dd2d7ab93469d)
* Subscribe on [Apple Podcasts](https://podcasts.apple.com/au/podcast/timeline-earth/id1356641195)
* Subscribe to the [unofficial FAGcast feed]()
* Follow [@timelineearth](https://twitter.com/timelineearth)
	* Follow [@TLEbirdarchist](https://twitter.com/tlebirdarchist)
	* Follow [@TLE_Car](https://twitter.com/tle_car)
	* Follow [@PunishedBTWA](https://twitter.com/punishedbtwa)
	* Follow [@TLEPaz](https://twitter.com/tlepaz)
